# Игнорируем файлы конфигурации и секретные ключи
# .env
# config.py

# Игнорируем временные файлы
*.log
__pycache__/
*.pyc
*.pyo
*.sqlite3

# Игнорируем кэшированные и временные файлы IDE
.vscode/
.idea/